<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:gap = "http://phonegap.com/ns/1.0" xmlns:android   = "http://schemas.android.com/apk/res/android" xmlns:id="com.quilkin.webmap" version="0.0.9.1" xmlns="http://www.w3.org/ns/widgets">
  <name>WebMap</name>
  <description></description>
  <author href="http://www.quilkin.co.uk" email="admin@quilkin.co.uk">Quilkin</author>
  <content src="index.html" />
  <access origin="*" />
  <icon src="icon.png" />
  <gap:splash src="splash.png" />
<plugin name="org.apache.cordova.media" spec="0.2.16" source="pgb" />
<plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
</widget>